<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invitation to Monestro</title>
  <link rel="shortcut Icon" type="image/x-icon" href="https://new.monestro.com/favicon.png" />
  <style>
    .container {
      font-family: Calibri,Arial,Helvetica,sans-serif;
      font-size: 12pt;
      color: darkslategray;
    }
    a.link {
      color: rgb(0, 124, 137);
      font-weight: normal;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="body">
      <p>Hi,</p>
      <p>Feel free to register by the link below:</p>
      <a href="{{ referral_link }}" class="link">{{ referral_link }}</a>
      <p>Best regards,</p>
      <p>Monestro team</p>
    </div>
  </div>
</body>
</html>
